### Importar bibliotecas

In [1]:
import pandas as pd
from joblib import Parallel, delayed
import multiprocessing

##### Ler os dados das ações

In [2]:
dados = pd.read_csv('../dados/historico_acoes.csv', encoding='latin-1')

dados.head()

/root/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,TIPO,DATA,CODBDI,CODNEG,TPMERC,NOMRES,ESPECI,PRAZOT,MODREF,PREABE,...,TOTNEG,QUATOT,VOLTOT,PREEXE,INDOPC,DATVEN,FATCOT,PTOEXE,CODISI,DISMES
0,1,19880104,2.0,ABC 6,10,ABC XTAL,PPA,NaN,CZ$,225.0,...,2.0,3000.0,685000.0,0.0,0.0,99991231.0,1.0,0.0,ABCXACPPA,101.0
1,1,19880104,2.0,ACE 2,10,ACESITA,PP C01,NaN,CZ$,440.0,...,1.0,400.0,176000.0,0.0,0.0,99991231.0,1.0,0.0,ACESACPP,114.0
2,1,19880104,2.0,EAL 2,10,ACO ALTONA,PP,NaN,CZ$,863.0,...,8.0,33100.0,29863800.0,0.0,0.0,99991231.0,1.0,0.0,EALTACPP,117.0
3,1,19880104,2.0,AVI 2,10,ACOS VILL,PP C42,NaN,CZ$,330.0,...,12.0,112700.0,37149000.0,0.0,0.0,99991231.0,1.0,0.0,AVILACPP,140.0
4,1,19880104,2.0,CRA 2,10,ADUBOS CRA,PP C31,NaN,CZ$,90.0,...,1.0,10000.0,900000.0,0.0,0.0,99991231.0,1.0,0.0,CRADACPP,121.0

##### Filtrando apenas as coluncas úteis

In [3]:
dados = dados[['DATA', 'CODNEG', 'PREABE', 'PREULT']]

dados.head()

       DATA CODNEG  PREABE  PREULT
0  19880104  ABC 6   225.0   230.0
1  19880104  ACE 2   440.0   440.0
2  19880104  EAL 2   863.0   920.0
3  19880104  AVI 2   330.0   330.0
4  19880104  CRA 2    90.0    90.0

### Criar váriavel classe

A váriavel classe representa se a ação teve desempenho positivo ou negativo no dia.

Desempenho positivo: O valor final da ação no dia fechou maior ou igual ao valor de abertura

Desempenho negativo: Se o valor de fechamento for menor que o valor de abertura, entao a ação teve diminuição/queda, logo desempenho negativo

In [4]:
# Criar váriavel classe
dados['STATUS_POSITIVO'] = 1

# Se o valor de fechamento for menor que o valor de abertura, entao a ação teve diminuição/queda
dados.loc[dados['PREULT']<dados['PREABE'],'STATUS_POSITIVO'] = -1

In [5]:
dados['STATUS_POSITIVO'].unique()

array([ 1, -1])

##### Verificando os dados das ações PETR4 e VALE3

In [6]:
dados.loc[dados['CODNEG']=='PETR4'].head()

            DATA CODNEG  PREABE  PREULT  STATUS_POSITIVO
168517  20080102  PETR4  8699.0  8700.0                1
169690  20080103  PETR4  8670.0  8560.0               -1
170909  20080104  PETR4  8565.0  8140.0               -1
172103  20080107  PETR4  8146.0  7901.0               -1
173318  20080108  PETR4  8030.0  8335.0                1

In [7]:
dados.loc[dados['CODNEG']=='VALE3'].head()

            DATA CODNEG  PREABE  PREULT  STATUS_POSITIVO
168896  20080102  VALE3  5925.0  5790.0               -1
170049  20080103  VALE3  5806.0  5820.0                1
171307  20080104  VALE3  5870.0  5610.0               -1
172460  20080107  VALE3  5648.0  5510.0               -1
173717  20080108  VALE3  5600.0  5620.0                1

***
### Lendo dimensão data

In [8]:
dimensao_data = pd.read_csv('../dados/dimensao_data.csv')

dimensao_data.head()

,date_dim_id,date_actual,epoch,day_suffix,day_name,day_of_week,day_of_month,day_of_quarter,day_of_year,week_of_month,...,last_day_of_week,first_day_of_month,last_day_of_month,first_day_of_quarter,last_day_of_quarter,first_day_of_year,last_day_of_year,mmyyyy,mmddyyyy,weekend_indr
0,19700101,1970-01-01,0,5th,Thursday,4,1,1,1,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1011970,False
1,19700102,1970-01-02,86400,6th,Friday,5,2,2,2,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1021970,False
2,19700103,1970-01-03,172800,7th,Saturday,6,3,3,3,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1031970,True
3,19700104,1970-01-04,259200,1st,Sunday,7,4,4,4,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1041970,True
4,19700105,1970-01-05,345600,2nd,Monday,1,5,5,5,1,...,1970-01-11,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1051970,False

In [9]:
dimensao_data.tail()

,date_dim_id,date_actual,epoch,day_suffix,day_name,day_of_week,day_of_month,day_of_quarter,day_of_year,week_of_month,...,last_day_of_week,first_day_of_month,last_day_of_month,first_day_of_quarter,last_day_of_quarter,first_day_of_year,last_day_of_year,mmyyyy,mmddyyyy,weekend_indr
29215,20491227,2049-12-27,2524176000,2nd,Monday,1,27,88,361,4,...,2050-01-02,2049-12-01,2049-12-31,2049-10-01,2049-12-31,2049-01-01,2049-12-31,122049,12272049,False
29216,20491228,2049-12-28,2524262400,3rd,Tuesday,2,28,89,362,4,...,2050-01-02,2049-12-01,2049-12-31,2049-10-01,2049-12-31,2049-01-01,2049-12-31,122049,12282049,False
29217,20491229,2049-12-29,2524348800,4th,Wednesday,3,29,90,363,5,...,2050-01-02,2049-12-01,2049-12-31,2049-10-01,2049-12-31,2049-01-01,2049-12-31,122049,12292049,False
29218,20491230,2049-12-30,2524435200,5th,Thursday,4,30,91,364,5,...,2050-01-02,2049-12-01,2049-12-31,2049-10-01,2049-12-31,2049-01-01,2049-12-31,122049,12302049,False
29219,20491231,2049-12-31,2524521600,6th,Friday,5,31,92,365,5,...,2050-01-02,2049-12-01,2049-12-31,2049-10-01,2049-12-31,2049-01-01,2049-12-31,122049,12312049,False

##### Renomeando coluna "key" para unir com os dados das ações

In [10]:
dimensao_data=dimensao_data.rename(columns = {'date_dim_id':'DATA'})

dimensao_data.head()

,DATA,date_actual,epoch,day_suffix,day_name,day_of_week,day_of_month,day_of_quarter,day_of_year,week_of_month,...,last_day_of_week,first_day_of_month,last_day_of_month,first_day_of_quarter,last_day_of_quarter,first_day_of_year,last_day_of_year,mmyyyy,mmddyyyy,weekend_indr
0,19700101,1970-01-01,0,5th,Thursday,4,1,1,1,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1011970,False
1,19700102,1970-01-02,86400,6th,Friday,5,2,2,2,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1021970,False
2,19700103,1970-01-03,172800,7th,Saturday,6,3,3,3,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1031970,True
3,19700104,1970-01-04,259200,1st,Sunday,7,4,4,4,1,...,1970-01-04,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1041970,True
4,19700105,1970-01-05,345600,2nd,Monday,1,5,5,5,1,...,1970-01-11,1970-01-01,1970-01-31,1970-01-01,1970-03-31,1970-01-01,1970-12-31,11970,1051970,False

In [11]:
dimensao_data.dtypes

DATA                       int64
date_actual               object
epoch                      int64
day_suffix                object
day_name                  object
day_of_week                int64
day_of_month               int64
day_of_quarter             int64
day_of_year                int64
week_of_month              int64
week_of_year               int64
week_of_year_iso          object
month_actual               int64
month_name                object
month_name_abbreviated    object
quarter_actual             int64
quarter_name              object
year_actual                int64
first_day_of_week         object
last_day_of_week          object
first_day_of_month        object
last_day_of_month         object
first_day_of_quarter      object
last_day_of_quarter       object
first_day_of_year         object
last_day_of_year          object
mmyyyy                     int64
mmddyyyy                   int64
weekend_indr                bool
dtype: object

##### Convertendo as datas que estão no formato YYYY-MM-DD para YYYYMMDD, 
##### Essa conversão é necessária para esses atributos ficarem do tipo int, pois com o "-" o atributo fica do tipo object, o que prejudica o desempenho das técnicas

In [12]:
dimensao_data['first_day_of_week'] = dimensao_data['first_day_of_week'].str.replace('-','').apply(int)
dimensao_data['last_day_of_week'] = dimensao_data['last_day_of_week'].str.replace('-','').apply(int)
dimensao_data['first_day_of_month'] = dimensao_data['first_day_of_month'].str.replace('-','').apply(int)
dimensao_data['last_day_of_month'] = dimensao_data['last_day_of_month'].str.replace('-','').apply(int)
dimensao_data['first_day_of_quarter'] = dimensao_data['first_day_of_quarter'].str.replace('-','').apply(int)
dimensao_data['last_day_of_quarter'] = dimensao_data['last_day_of_quarter'].str.replace('-','').apply(int)
dimensao_data['first_day_of_year'] = dimensao_data['first_day_of_year'].str.replace('-','').apply(int)
dimensao_data['last_day_of_year'] = dimensao_data['last_day_of_year'].str.replace('-','').apply(int)

dimensao_data.dtypes

DATA                       int64
date_actual               object
epoch                      int64
day_suffix                object
day_name                  object
day_of_week                int64
day_of_month               int64
day_of_quarter             int64
day_of_year                int64
week_of_month              int64
week_of_year               int64
week_of_year_iso          object
month_actual               int64
month_name                object
month_name_abbreviated    object
quarter_actual             int64
quarter_name              object
year_actual                int64
first_day_of_week          int64
last_day_of_week           int64
first_day_of_month         int64
last_day_of_month          int64
first_day_of_quarter       int64
last_day_of_quarter        int64
first_day_of_year          int64
last_day_of_year           int64
mmyyyy                     int64
mmddyyyy                   int64
weekend_indr                bool
dtype: object

##### Selecionando dados da dimensão data

In [13]:
dimensao_data_selecionados = dimensao_data[['DATA', 'epoch', 'day_of_week', 'day_of_month', 'day_of_quarter', 'day_of_year', 
                                            'week_of_month', 'week_of_year', 'month_actual', 'quarter_actual', 'year_actual',
                                            'first_day_of_week', 'last_day_of_week', 'first_day_of_month', 'last_day_of_month',
                                            'first_day_of_quarter', 'last_day_of_quarter', 'first_day_of_year', 'last_day_of_year'
                                            ]]

dimensao_data_selecionados.tail()

,DATA,epoch,day_of_week,day_of_month,day_of_quarter,day_of_year,week_of_month,week_of_year,month_actual,quarter_actual,year_actual,first_day_of_week,last_day_of_week,first_day_of_month,last_day_of_month,first_day_of_quarter,last_day_of_quarter,first_day_of_year,last_day_of_year
29215,20491227,2524176000,1,27,88,361,4,52,12,4,2049,20491227,20500102,20491201,20491231,20491001,20491231,20490101,20491231
29216,20491228,2524262400,2,28,89,362,4,52,12,4,2049,20491227,20500102,20491201,20491231,20491001,20491231,20490101,20491231
29217,20491229,2524348800,3,29,90,363,5,52,12,4,2049,20491227,20500102,20491201,20491231,20491001,20491231,20490101,20491231
29218,20491230,2524435200,4,30,91,364,5,52,12,4,2049,20491227,20500102,20491201,20491231,20491001,20491231,20490101,20491231
29219,20491231,2524521600,5,31,92,365,5,52,12,4,2049,20491227,20500102,20491201,20491231,20491001,20491231,20490101,20491231

##### Selecionando dados das ações para realizar a união com a dimensão data

In [14]:
dados_selecionados = dados[['DATA', 'CODNEG', 'STATUS_POSITIVO']]

dados_selecionados.head()

       DATA CODNEG  STATUS_POSITIVO
0  19880104  ABC 6                1
1  19880104  ACE 2                1
2  19880104  EAL 2                1
3  19880104  AVI 2                1
4  19880104  CRA 2                1

***
### Unindo dimensão data com os dados

In [15]:
completo = pd.merge(dados_selecionados, dimensao_data_selecionados, on='DATA')

completo.head()

,DATA,CODNEG,STATUS_POSITIVO,epoch,day_of_week,day_of_month,day_of_quarter,day_of_year,week_of_month,week_of_year,...,quarter_actual,year_actual,first_day_of_week,last_day_of_week,first_day_of_month,last_day_of_month,first_day_of_quarter,last_day_of_quarter,first_day_of_year,last_day_of_year
0,19880104,ABC 6,1,568252800,1,4,4,4,1,1,...,1,1988,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
1,19880104,ACE 2,1,568252800,1,4,4,4,1,1,...,1,1988,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
2,19880104,EAL 2,1,568252800,1,4,4,4,1,1,...,1,1988,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
3,19880104,AVI 2,1,568252800,1,4,4,4,1,1,...,1,1988,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
4,19880104,CRA 2,1,568252800,1,4,4,4,1,1,...,1,1988,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231

In [16]:
completo.dtypes

DATA                     int64
CODNEG                  object
STATUS_POSITIVO          int64
epoch                    int64
day_of_week              int64
day_of_month             int64
day_of_quarter           int64
day_of_year              int64
week_of_month            int64
week_of_year             int64
month_actual             int64
quarter_actual           int64
year_actual              int64
first_day_of_week        int64
last_day_of_week         int64
first_day_of_month       int64
last_day_of_month        int64
first_day_of_quarter     int64
last_day_of_quarter      int64
first_day_of_year        int64
last_day_of_year         int64
dtype: object

##### Quantidade de tuplas:

In [17]:
len(completo)

7001521

##### Verificando se existe algum valor nulo nos dados

In [18]:
completo.isnull().values.any()

False

##### Salvando os dados

In [19]:
completo.to_csv('../dados/dados_tratados.csv', index=False)

***
### Filtro: Manter os dados referentes apenas das ações que estão no mercado atualmente

Ações que já encerraram sua participação no mercado de ações não nós interessa.

##### Verificando qual último dia presente nos dados

In [20]:
ultimo_dia = completo.loc[completo['DATA'].astype(str).str[:4] == '2018', 'DATA'].unique()
ultimo_dia = ultimo_dia[-1:]
ultimo_dia

array([20180530])

##### Verificando quais ações operaram no último dia

In [21]:
acoes_no_ultimo_dia = completo.loc[completo['DATA'] == int(ultimo_dia), 'CODNEG'].unique()
acoes_no_ultimo_dia

array(['AALR3', 'AALR3F', 'AAPL34', ..., 'XPML11', 'XPOM11', 'XTED11'], dtype=object)

##### Quantidade de ações no último dia

In [22]:
len(acoes_no_ultimo_dia)

2140

##### Selecionando os dados apenas das ações atuais

In [23]:
dados_atuais = completo.loc[completo['CODNEG'].isin(acoes_no_ultimo_dia)]
dados_atuais.head()

,DATA,CODNEG,STATUS_POSITIVO,epoch,day_of_week,day_of_month,day_of_quarter,day_of_year,week_of_month,week_of_year,...,quarter_actual,year_actual,first_day_of_week,last_day_of_week,first_day_of_month,last_day_of_month,first_day_of_quarter,last_day_of_quarter,first_day_of_year,last_day_of_year
167674,20080102,ABCB4,-1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167675,20080102,ABCB4F,1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167694,20080102,AELP3,1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167701,20080102,AGRO3,1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167714,20080102,ALPA4,-1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231

#### Removendo ações que existe somente 1 valor para o atributo classe ou que tenham menos de 30 tuplas

- Remover ações que o atributo 'STATUS_POSITIVO' só tem 1 valor, somente positivo (1), ou somente negativo (0)

- Remover ações que tenham menos do que 30 tuplas de dados

In [24]:
# Coletando as ações
acoes = dados_atuais.CODNEG.unique()

##### Função para verificar se a ação será removida ou não, com base no que foi definido acima

In [25]:
def verificarAcao(acao):
    classes = dados_atuais.loc[dados_atuais['CODNEG'] == acao, 'STATUS_POSITIVO'].unique()
    tuplas = dados_atuais.loc[dados_atuais['CODNEG'] == acao]
    if (len(classes) == 1) or (len(tuplas) < 30):
        print(acao)
        return acao

##### Realizar a verificação de cada ação, de forma paralela, executando em todos os núcleos do processador

In [26]:
remover_acoes = Parallel(n_jobs=multiprocessing.cpu_count())(delayed(verificarAcao)(acao) for acao in acoes)

PETRR38
IBOVT69
GGBRR76
IBOVH80
IBOVT72
ITSAG13
BBASG1
IBOVH77
IBOVX33
PETRR37
BRKMF18
EMBRG25
GOAUG68
BBDCH47
IBOVR76
DWDP34
IBOVF81
IBOVR74
BBASR299
BBASR334
BOVAS75
IBOVR75
IBOVF82
ITUBG497
ITUBS449
VALEF384
VALEG529
BBASG36
GGBRF152
GGBRR135
PETRF195
PETRR152
VALEG469
ABEVG225
BBDCF356
IBOVT74
ITUBF443
ITUBF493
ITUBR443
PETRX155
BBASS31
BBDCR324
BBDCR71
BBDCS25
IBOVT33
IBOVT75
BBASR302
EVENF58
GOVE11F
ITUBF488
PETRG195
PETRS172
ITUBX409
PETRH202
PETRH205
PETRS192
VALER404
PETRG212
VALEG509
VALER387
PETRH217
VALER427
PETRX182
BOVAR72
EMBRF22
ITUBG449
ITUBN500
PETRR79
IBOVV75
PETRF217
BOVAS65
ITUBF505
ITUBH17
BBDCF73
BBDCR369
WEGES228
ABEVS91
PETRR172
VALEG519
VALES411
IBOVH84
IBOVH87
GOAUJ92
IBOVH89
ABEVR207
VALER472
IBOVH97
IBOVT76
LAMEF171
LAMEF184
VALES424
VALES469
CMIGF889
IBOVT85
PETRG237
PETRS185
ITUBR495
BBDCL379
BRFSR22
ITSAR108
BBASF332
ITUBR480
VALEF414
GOAUD9
VALEF442
IBOVH92
AZULF355
BOVAS74
PETRR217
VALER417
BBASR439
LRENR302
IBOVJ99
BBDCF346
BBSEF305
CMIGR759
ITUBF450
PETRR222
PETRR247
PETRR225
CMIGF839
GGBRF162
PETRS240
BBDCR334
GGBRR142
IBOVL98
ITUBF48
ITUBH55
PETRG245
PETRS195
PETRS230
PETRS290
VALEG482
VALEG565
GGBRF157
ITUBR430
PETRS205
PETRG205
VALEG474
BOVAR73
BRFSR222
RAILS15
BBASR679
ITUBG438
ITUBH551
ITUBH601
ITUBR460
ITUBT498
ITUBT55
VALEF557
VALEF562
VALEF567
VALEF572
VALEF577
VALEF582
VALEF587
BBASF75
BBASR358
LOGN12F
MGLUF110
IBOVJ96
GGBRS134
PETRG242
VALEF432
B3SAF234
B3SAR211
BBASF351
GOAUF758
ITSAR12
ITUBF456
PETRU225
GGBRF47
ITSAG44
PETRF172
BOVAT67
EMBRF54
ITUBF54
PETRF152
PETRR192
PETRR252
HYPER269
ITSAR10
ITUBF430
MGLUF122
PETRG227
VALEG446
ABEVJ197
BBASF358
BBDCR377
IBOVV78
PETRG225
BBASR351
BBDCR364
CSNAG950
ELPLF24
RAILF15
VALEG472
BBASF314
BBASG363
BBASG402
BBASR349
BBAST289
BBSEF297
BOVAF80
BOVAG81
CMIGR78
ENBRG15
FIBRR67
ITSAR43
ITUBR477
KLBNF50
MRVEF15
QUALR200
SANBS35
SMTOG18
BRFSF21
BRFSF22
BRFSF23
BRFSR21
BRKMF51
BRMLF11
CVCBG547
EMBRF52
EMBRR22
EMBRR52
ENBRF44
HYPEG350
LRENG345
PETRR265
RAILF14
RAILF43
VALEG467
VALEG477
VALEG499
VALES429
B3SAF218
B3SAF258
BBASF259
BRFSR200
BRFSR23
CIELR190
EMBRF55
GOAUF7
ITSAG112
ITUBG471
ITUBL480
PETRF227
PETRG300
PETRG310
PETRR235
RAILG145
ABEVS87
BBASF679
BBASR364
BBDCF381
CMIGR82
CPLER53
GOAUF26
JBSSR92
PETRF192
VALES454
B3SAR248
VALEX449
BBASR339
BOVAS72
CIELF19
NATUF35
PETRF302
GOAUF8
PETRG280
PETRG290
PETRR102
PETRS237
VALEG544
WEGEF52
BRMLL140
CIELG20
CIELS18
GGBRR152
CMIGG8
IBOVV83
ITUBG516
JBSSF98
NATUJ35
PETRG260
RAILR13
VALER434
VALER442
WEGEF51
BBASF359
BBASF389
BBASR269
BBDCF337
ITUBF495
NVHO11
PETRS77
RAILF44
VALEF592
VALEF597
VALEG514
VALEH516
VALEH526
VALER465
VALER478
BRFSF26
BRFSR180
CMIGG86
MRVER14
PETRG207
RAILR44
VALER470
VALER502
BTOWG32
KROTR991
MGLUG985
PETRS197
VALES499
B3SAF271
BBASS267
GNDI3
KROTR42
GNDI3F
PETRG215
RAILG15
VALEH527
WEGEF53
BBSER2
PETRL300
RAILR43
VALER512
VALET527
BBASR72
CCROR41
HAPV3
HAPV3F
IBOVS80
PETRR232
SUZBF42
VALEF492
WEGER52
BRFSG25
EMBRR53
ITSAF43
SUZBG11
VALER494
BBASF391
BBASR301
BBASS89
BOVAR84
BRMLF40
FIBRF71
PCARF77
PCARF78
PETRR227
PETRR237
PETRS260
VALER522
VALER557
VALES534
VALES98
PCARF81
PCARF79
PETRG255
VALER467
UGPAF60
VALER492
VALER499
B3SAR24
B3SAR231
ITUBF448
ITUBR450
PETRF265
PETRG185
SUZBF13
VALER507
VALER517
VALES474
VALES509
WPLZ11
B3SAF24
BBASF65
BBASF72
BBASG383
BBASG85
BBASR75
BBDCF333
BRMLR40
ITSAF128
CMIGG84
ITSAR42
ITUBF477
ITUBF480
ITUBF500
ITUBG26
VALES467
SUZBR42
BBASF349
BBASR332
CIELF18
CIELF47
CMIGS8
EMBRG24
ITUBF457
ITUBF462
ITUBR81
PETRF307
LAMER47
PETRR107
RADLF64
VALEF375
RBRR11
VALES482
BBASF354
BRFSF250
ITUBF432
ITUBL490
ITUBR432
ITUBR48
ITUBT428
VALEG484
VALEG534
BBASF339
BBASF361
BBSER26
BRMLF10
CIELF17
ELETF18
HYPER29
ITSAF42
ITUBF470
OIBRF43
OIBRR39
PETRI215
SANBR35
UGPAF55
BRAPF35
CIELG18
GOAUT680
ITSAF133
PCARR742
PETRR245
PETRR59
SUZBF14
TAEEF21
VALES447
BBDCS357
ABEVF22
KLBNR210
PETRF262
PETRF317
PETRR242
PETRR275
PETRX245
SUZBF12
SUZBF15
SUZBR12
SUZBR13
VALER532
ABEVF70
BBDCF329
BIDI4
BIDI4F
BRKMF495
KROTR11
OIBRF37
VALEH586
VALER527
VALER537
VALER542
VALER547
VALER552
VALES477
VALES514
VALES529
B3SAF233
B3SAR220
BRKMR18
ITUBF454
CIELR17
KROTF10
PETRF257
PETRF267
PETRF272
PETRF277
PETRF282
PETRF297
PETRF315
PETRF320
PETRG340
PETRH29
PETRR257
PETRR262
PETRR267
PETRR272
PETRS270
VALEF598
VALEF602
VALEF607
VALER572
VALES472
B3SAF220
B3SAF231
BBASR277
BBDCR73
BBDCS46
BRMLG10
BRMLG40
CIELR46
CMIGG82
EMBRG22
FIBRF73
ITSAG42
ITUBF460
JBSSS9
PETRF287
LRENR1
PETRF291
PETRF340
PETRR290
QUALS22
RAILG14
SUZBF16
SUZBF17
SUZBG458
SUZBR14
VALEF612
VALER562
VALES519
ABEVG53
BRFSG230
CIELH186
CIELS17
EMBRG27
EMBRS22
EQTLG64
ESTCF271
ESTCF29
ESTCR25
ITUBR456
PETRF370
MULTF58
SBSPF28
SUZBF18
SUZBG17
SUZBG18
SUZBS14
VALEF617
VALEF622
VALEF627
VALEG554
VALEH474
VALER567
VALER577
WEGER235
ABEVR70
ABEVS20
BBASF301
BBASF334
BBDCR401
BBDCF1
BOVAS84
ITSAF118
ECORS9
ITUBG468
ITUBS438
LRENG30
PETRF312
PETRF345
PETRR215
SANBG35
SANBG36
SANBG37
SANBS34
SUZBG13
SUZBG14
SUZBS13
UGPAG56
VALEF632
VALEG574
VALER582
VALER592
BBASF319
BBASG322
B3SAF2
BBASG331
BBASR319
BBAST279
BBASR60
BBAST319
BBDCF301
BBDCR301
BOVAG80
BOVAR75
BRFSG21
BRFSG22
BRFSS21
CCROR11
CMIGF78
HYPEF270
HYPEF280
HYPEG260
HYPEG275
HYPEG28
HYPER260
ITSAG115
HYPES28
ITSAS11
ITUBF452
ITUBR439
ITUBG466
KROTS10
LRENF302
MRVEF14
LRENF1
PETRF167
SANBS330
TAEEF20
TAEES20
VALEF662
VALER647
VALEF667
WEGEG24
ABEVS192
B3SAG201
B3SAG216
B3SAS201
BBASG64
BBRK1F
CIELF46
CIELR160
EMBRS21
EQTLG62
GGBRS184
ITSAF123
ITUBF447
ITUBG458
KROTS40
PETRS235
RADLF62
RAILG135
RAILS145
TIMPF13
BOVAG79
CMIGG80
ENBRS13
EQTLF60
EQTLR60
EQTLR61
GGBRH171
IBOVS78
ITUBF437
ITUBS448
JBSSS92
LRENF325
PETRF215
SUZBG433
SUZBS11
TAEEG21
TRPN1
UGPAG51
UGPAG52
VALEF637
VALEF642
VALEF647
VALEF652
VALEF657
VALEF687
VALEF717
VALEF727
VALEF737
VALEG584
VALEG594
VALEG604
VALEH536
VALEH556
VALER435
VALER587
ABEVG195
BBASG34
BBASR68
CCROF11
CIELS16
IBOVH82
ITUBS442
MRVEG15
MRVES44
PETRG252
PETRG257
RENTS54
SUZBS430
TAEEF50
TRPN1F
UGPAR51
UGPAS50
VALEF677
VALEF697
VALEF707
ABEVR192
B3SAF20
B3SAF211
BBASF302
BBASF309
BBASG319
BBASG332
BBASS88
BOVAF78
BOVAR77
BRFSG24
BRFSS50
CIELF160
CIELG47
CSNAH88
ELETF155
ELETG17
ELETS15
IBOVJ81
ITUBT438
PETRR157
PETRR167
PETRR68
QUALF19
SANBR34
SBSPG261
VALEG609
VALER407
ABEVG10
B3SAF207
B3SAR20
B3SAR207
BBASH308
BBASL351
BBASR252
BBDCF324
BOVAF75
BOVAF77
BOVAR76
BRAPS34
ECORF84
ELETF15
ITUBG461
IBOVS72
OIBRF25
OIBRF26
OIBRF27
OIBRF28
OIBRF29
OIBRF30
PETRG202
PETRG217
PETRG222
PETRI202
PETRR58
RENTS25
UGPAG49
UGPAG50
UGPAS48
UGPAS49
VALET516
ABEVR1
BBASF269
BBASF299
BBASF60
BBASR97
BBASS278
BBDCG299
BBDCR3
BBDCS71
BBSEG68
BOVAF76
BOVAG76
CCROF40
ELETR44
FIBRF75
IBOVH81
ITUBR13
MULTR58
PETRG335
PETRG350
PETRR950
PETRS150
PETRS78
PETRV164
PETRV212
RADLG617
SANBG34
UGPAF48
UGPAG48
UGPAS47
USIMF920
USIMG98
VALEG709
VALEG719
VALEG729
ABEVF195
BBASG295
BBASG324
BOVAF73
BOVAG73
BOVAG74
BOVAS73
CYREG13
ELETF44
ELETH17
HYPEF260
ITSAF108
ITUBG23
KROTG10
KROTH11
MULTR57
OIBRF36
PETRF209
PETRG197
PETRG37
PETRR800
QUALG49
RADLG607
SANBG330
TAEEG49
VALEK533
B3SAR203
BBASF282
BBASK337
BBASK70
BBASR282
BBASV350
BBDCF291
BBDCF296
BBDCR259
BBDCS307
BOVAF74
BOVAR74
BRAPF32
BRKMG16
BRKMG512
BRMLG98
CIELI182
CIELS153
CIELS156
CIELU155
CIELT17
CIELU165
CMIGG780
CSANG431
ECORG86
ECORR76
ELETF14
ELETF175
ELETK88
ELETR14
ELETR43
ELETW75
EQTLF588
FLRYE13
FLRYL135
GGBRF149
GGBRR12
IBOVF110
IBOVJ82
IBOVJ83
IBOVR110
ITSAH113
ITSAS18
ITUBH428
ITUBF439
ITUBH438
ITUBI476
ITUBR407
ITUBR413
ITUBR424
ITUBS92
ITUBX94
JBSSS88
KROTF100
LRENF288
LRENG283
LRENG59
LRENR283
MULTS59
OIBRF34
OIBRF35
OIBRR34
PETRH346
PETRH571
PETRI192
PETRI222
PETRK195
PETRK197
PETRL212
PETRL227
PETRX35
SANBS32
TAEEG23
TAEEG50
TAEES48
UGPAG19
UGPAG557
UGPAS402
UGPAS44
USIMR73
VALEF747
VALEG624
VALEL574
VALEX506

##### Removendo valores nulos da lista de ações a serem removidas

In [27]:
remover_acoes = list(filter(None, remover_acoes))

##### Quantidade de ações a serem removidas

In [28]:
len(remover_acoes)

903

##### Removendo ações

In [29]:
dados_atuais = dados_atuais.loc[~dados_atuais['CODNEG'].isin(remover_acoes)]

dados_atuais.head()

,DATA,CODNEG,STATUS_POSITIVO,epoch,day_of_week,day_of_month,day_of_quarter,day_of_year,week_of_month,week_of_year,...,quarter_actual,year_actual,first_day_of_week,last_day_of_week,first_day_of_month,last_day_of_month,first_day_of_quarter,last_day_of_quarter,first_day_of_year,last_day_of_year
167674,20080102,ABCB4,-1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167675,20080102,ABCB4F,1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167694,20080102,AELP3,1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167701,20080102,AGRO3,1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167714,20080102,ALPA4,-1,1199232000,3,2,2,2,1,1,...,1,2008,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231

##### Total de ações restante no dataset

In [30]:
len(dados_atuais.CODNEG.unique())

1237

##### Verificando quantidade de tuplas

In [31]:
len(dados_atuais)

1765513

#### O conjunto de dados diminuiu de **7 milhões** de tuplas para **1 milhão e 700 mil** tuplas aproximadamente

***
Salvando os dados tratados

In [32]:
dados_atuais.to_csv('../dados/dados_tratados_acoes_atuais.csv', index=False)