### Importar bibliotecas

In [1]:
import pandas as pd
from joblib import Parallel, delayed
import multiprocessing

##### Ler os dados das ações

In [2]:
dados = pd.read_csv('../dados/historico_acoes.csv', encoding='latin-1')

dados.head()

/root/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,TIPO,DATA,CODBDI,CODNEG,TPMERC,NOMRES,ESPECI,PRAZOT,MODREF,PREABE,...,TOTNEG,QUATOT,VOLTOT,PREEXE,INDOPC,DATVEN,FATCOT,PTOEXE,CODISI,DISMES
0,1,19880104,2.0,ABC 6,10,ABC XTAL,PPA,NaN,CZ$,225.0,...,2.0,3000.0,685000.0,0.0,0.0,99991231.0,1.0,0.0,ABCXACPPA,101.0
1,1,19880104,2.0,ACE 2,10,ACESITA,PP C01,NaN,CZ$,440.0,...,1.0,400.0,176000.0,0.0,0.0,99991231.0,1.0,0.0,ACESACPP,114.0
2,1,19880104,2.0,EAL 2,10,ACO ALTONA,PP,NaN,CZ$,863.0,...,8.0,33100.0,29863800.0,0.0,0.0,99991231.0,1.0,0.0,EALTACPP,117.0
3,1,19880104,2.0,AVI 2,10,ACOS VILL,PP C42,NaN,CZ$,330.0,...,12.0,112700.0,37149000.0,0.0,0.0,99991231.0,1.0,0.0,AVILACPP,140.0
4,1,19880104,2.0,CRA 2,10,ADUBOS CRA,PP C31,NaN,CZ$,90.0,...,1.0,10000.0,900000.0,0.0,0.0,99991231.0,1.0,0.0,CRADACPP,121.0

##### Quantidade de ações presentes nos dados

In [3]:
len(dados.CODNEG.unique())

141139

##### Filtrando apenas as colunas úteis

In [4]:
dados = dados[['DATA', 'CODNEG', 'PREABE', 'PREULT']]

dados.head()

       DATA CODNEG  PREABE  PREULT
0  19880104  ABC 6   225.0   230.0
1  19880104  ACE 2   440.0   440.0
2  19880104  EAL 2   863.0   920.0
3  19880104  AVI 2   330.0   330.0
4  19880104  CRA 2    90.0    90.0

### Criar variável classe

A variável classe representa se a ação teve desempenho positivo ou negativo no dia.

Desempenho positivo: O valor final da ação no dia fechou maior ou igual ao valor de abertura

Desempenho negativo: Se o valor de fechamento for menor que o valor de abertura, entao a ação teve diminuição/queda, logo desempenho negativo

In [5]:
# Criar variável classe
dados['STATUS_POSITIVO'] = 1

# Se o valor de fechamento for menor que o valor de abertura, entao a ação teve diminuição/queda
dados.loc[dados['PREULT']<dados['PREABE'],'STATUS_POSITIVO'] = 0

In [6]:
dados['STATUS_POSITIVO'].unique()

array([1, 0])

##### Verificando os dados das ações PETR4 e VALE3

In [7]:
dados.loc[dados['CODNEG']=='PETR4'].head()

            DATA CODNEG  PREABE  PREULT  STATUS_POSITIVO
168517  20080102  PETR4  8699.0  8700.0                1
169690  20080103  PETR4  8670.0  8560.0                0
170909  20080104  PETR4  8565.0  8140.0                0
172103  20080107  PETR4  8146.0  7901.0                0
173318  20080108  PETR4  8030.0  8335.0                1

In [8]:
dados.loc[dados['CODNEG']=='VALE3'].head()

            DATA CODNEG  PREABE  PREULT  STATUS_POSITIVO
168896  20080102  VALE3  5925.0  5790.0                0
170049  20080103  VALE3  5806.0  5820.0                1
171307  20080104  VALE3  5870.0  5610.0                0
172460  20080107  VALE3  5648.0  5510.0                0
173717  20080108  VALE3  5600.0  5620.0                1

***
### Lendo dimensão data

In [9]:
dimensao_data = pd.read_csv('../dados/dimensao_data.csv', sep=';')

dimensao_data.head()

,data,ano,mes,dia_do_ano,dia_do_mes,dia_da_semana,semana_do_ano,trimestre,bimestre,semestre,...,semana_do_mes,dia_do_trimestre,primeiro_dia_da_semana,ultimo_dia_da_semana,primeiro_dia_do_mes,ultimo_dia_do_mes,primeiro_dia_do_trimestre,ultimo_dia_do_trimestre,primeiro_dia_do_ano,ultimo_dia_do_ano
0,19850101,1985,1,1,1,3,1,1,1,1,...,1,1,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
1,19850102,1985,1,2,2,4,1,1,1,1,...,1,2,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
2,19850103,1985,1,3,3,5,1,1,1,1,...,1,3,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
3,19850104,1985,1,4,4,6,1,1,1,1,...,1,4,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
4,19850105,1985,1,5,5,7,1,1,1,1,...,1,5,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31

In [10]:
dimensao_data.tail()

,data,ano,mes,dia_do_ano,dia_do_mes,dia_da_semana,semana_do_ano,trimestre,bimestre,semestre,...,semana_do_mes,dia_do_trimestre,primeiro_dia_da_semana,ultimo_dia_da_semana,primeiro_dia_do_mes,ultimo_dia_do_mes,primeiro_dia_do_trimestre,ultimo_dia_do_trimestre,primeiro_dia_do_ano,ultimo_dia_do_ano
29215,20641227,2064,12,362,27,7,52,4,6,4,...,4,88,2064-12-22,2064-12-28,2064-12-01,2064-12-31,2064-10-01,2064-12-31,2064-01-01,2064-12-31
29216,20641228,2064,12,363,28,1,1,4,6,4,...,4,89,2064-12-22,2064-12-28,2064-12-01,2064-12-31,2064-10-01,2064-12-31,2064-01-01,2064-12-31
29217,20641229,2064,12,364,29,2,1,4,6,4,...,5,90,2064-12-29,2065-01-04,2064-12-01,2064-12-31,2064-10-01,2064-12-31,2065-01-01,2065-12-31
29218,20641230,2064,12,365,30,3,1,4,6,4,...,5,91,2064-12-29,2065-01-04,2064-12-01,2064-12-31,2064-10-01,2064-12-31,2065-01-01,2065-12-31
29219,20641231,2064,12,366,31,4,1,4,6,4,...,5,92,2064-12-29,2065-01-04,2064-12-01,2064-12-31,2064-10-01,2064-12-31,2065-01-01,2065-12-31

##### Renomeando coluna "key" para unir com os dados das ações

In [11]:
dimensao_data=dimensao_data.rename(columns = {'data':'DATA'})

dimensao_data.head()

,DATA,ano,mes,dia_do_ano,dia_do_mes,dia_da_semana,semana_do_ano,trimestre,bimestre,semestre,...,semana_do_mes,dia_do_trimestre,primeiro_dia_da_semana,ultimo_dia_da_semana,primeiro_dia_do_mes,ultimo_dia_do_mes,primeiro_dia_do_trimestre,ultimo_dia_do_trimestre,primeiro_dia_do_ano,ultimo_dia_do_ano
0,19850101,1985,1,1,1,3,1,1,1,1,...,1,1,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
1,19850102,1985,1,2,2,4,1,1,1,1,...,1,2,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
2,19850103,1985,1,3,3,5,1,1,1,1,...,1,3,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
3,19850104,1985,1,4,4,6,1,1,1,1,...,1,4,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31
4,19850105,1985,1,5,5,7,1,1,1,1,...,1,5,1984-12-31,1985-01-06,1985-01-01,1985-01-31,1985-01-01,1985-03-31,1985-01-01,1985-12-31

In [12]:
dimensao_data.dtypes

DATA                          int64
ano                           int64
mes                           int64
dia_do_ano                    int64
dia_do_mes                    int64
dia_da_semana                 int64
semana_do_ano                 int64
trimestre                     int64
bimestre                      int64
semestre                      int64
quinzena                      int64
semana_do_mes                 int64
dia_do_trimestre              int64
primeiro_dia_da_semana       object
ultimo_dia_da_semana         object
primeiro_dia_do_mes          object
ultimo_dia_do_mes            object
primeiro_dia_do_trimestre    object
ultimo_dia_do_trimestre      object
primeiro_dia_do_ano          object
ultimo_dia_do_ano            object
dtype: object

##### Convertendo as datas que estão no formato YYYY-MM-DD para YYYYMMDD, 
##### Essa conversão é necessária para esses atributos ficarem do tipo int, pois com o "-" o atributo fica do tipo object, o que prejudica o desempenho das técnicas

In [13]:
dimensao_data['primeiro_dia_da_semana'] = dimensao_data['primeiro_dia_da_semana'].str.replace('-','').apply(int)
dimensao_data['ultimo_dia_da_semana'] = dimensao_data['ultimo_dia_da_semana'].str.replace('-','').apply(int)
dimensao_data['primeiro_dia_do_mes'] = dimensao_data['primeiro_dia_do_mes'].str.replace('-','').apply(int)
dimensao_data['ultimo_dia_do_mes'] = dimensao_data['ultimo_dia_do_mes'].str.replace('-','').apply(int)
dimensao_data['primeiro_dia_do_trimestre'] = dimensao_data['primeiro_dia_do_trimestre'].str.replace('-','').apply(int)
dimensao_data['ultimo_dia_do_trimestre'] = dimensao_data['ultimo_dia_do_trimestre'].str.replace('-','').apply(int)
dimensao_data['primeiro_dia_do_ano'] = dimensao_data['primeiro_dia_do_ano'].str.replace('-','').apply(int)
dimensao_data['ultimo_dia_do_ano'] = dimensao_data['ultimo_dia_do_ano'].str.replace('-','').apply(int)

dimensao_data.dtypes

DATA                         int64
ano                          int64
mes                          int64
dia_do_ano                   int64
dia_do_mes                   int64
dia_da_semana                int64
semana_do_ano                int64
trimestre                    int64
bimestre                     int64
semestre                     int64
quinzena                     int64
semana_do_mes                int64
dia_do_trimestre             int64
primeiro_dia_da_semana       int64
ultimo_dia_da_semana         int64
primeiro_dia_do_mes          int64
ultimo_dia_do_mes            int64
primeiro_dia_do_trimestre    int64
ultimo_dia_do_trimestre      int64
primeiro_dia_do_ano          int64
ultimo_dia_do_ano            int64
dtype: object

In [14]:
dimensao_data.head()

,DATA,ano,mes,dia_do_ano,dia_do_mes,dia_da_semana,semana_do_ano,trimestre,bimestre,semestre,...,semana_do_mes,dia_do_trimestre,primeiro_dia_da_semana,ultimo_dia_da_semana,primeiro_dia_do_mes,ultimo_dia_do_mes,primeiro_dia_do_trimestre,ultimo_dia_do_trimestre,primeiro_dia_do_ano,ultimo_dia_do_ano
0,19850101,1985,1,1,1,3,1,1,1,1,...,1,1,19841231,19850106,19850101,19850131,19850101,19850331,19850101,19851231
1,19850102,1985,1,2,2,4,1,1,1,1,...,1,2,19841231,19850106,19850101,19850131,19850101,19850331,19850101,19851231
2,19850103,1985,1,3,3,5,1,1,1,1,...,1,3,19841231,19850106,19850101,19850131,19850101,19850331,19850101,19851231
3,19850104,1985,1,4,4,6,1,1,1,1,...,1,4,19841231,19850106,19850101,19850131,19850101,19850331,19850101,19851231
4,19850105,1985,1,5,5,7,1,1,1,1,...,1,5,19841231,19850106,19850101,19850131,19850101,19850331,19850101,19851231

##### Salvando dimensão data tratada

In [15]:
dimensao_data.to_csv('../dados/dimensao_data_tratado.csv', sep=';', index=False)

##### Selecionando dados das ações para realizar a união com a dimensão data

In [16]:
dados_selecionados = dados[['DATA', 'CODNEG', 'STATUS_POSITIVO']]

dados_selecionados.head()

       DATA CODNEG  STATUS_POSITIVO
0  19880104  ABC 6                1
1  19880104  ACE 2                1
2  19880104  EAL 2                1
3  19880104  AVI 2                1
4  19880104  CRA 2                1

***
### Unindo dimensão tempo com os dados das ações

In [17]:
completo = pd.merge(dados_selecionados, dimensao_data, on='DATA')

completo.head()

,DATA,CODNEG,STATUS_POSITIVO,ano,mes,dia_do_ano,dia_do_mes,dia_da_semana,semana_do_ano,trimestre,...,semana_do_mes,dia_do_trimestre,primeiro_dia_da_semana,ultimo_dia_da_semana,primeiro_dia_do_mes,ultimo_dia_do_mes,primeiro_dia_do_trimestre,ultimo_dia_do_trimestre,primeiro_dia_do_ano,ultimo_dia_do_ano
0,19880104,ABC 6,1,1988,1,4,4,2,2,1,...,1,4,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
1,19880104,ACE 2,1,1988,1,4,4,2,2,1,...,1,4,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
2,19880104,EAL 2,1,1988,1,4,4,2,2,1,...,1,4,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
3,19880104,AVI 2,1,1988,1,4,4,2,2,1,...,1,4,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231
4,19880104,CRA 2,1,1988,1,4,4,2,2,1,...,1,4,19880104,19880110,19880101,19880131,19880101,19880331,19880101,19881231

In [18]:
completo.dtypes

DATA                          int64
CODNEG                       object
STATUS_POSITIVO               int64
ano                           int64
mes                           int64
dia_do_ano                    int64
dia_do_mes                    int64
dia_da_semana                 int64
semana_do_ano                 int64
trimestre                     int64
bimestre                      int64
semestre                      int64
quinzena                      int64
semana_do_mes                 int64
dia_do_trimestre              int64
primeiro_dia_da_semana        int64
ultimo_dia_da_semana          int64
primeiro_dia_do_mes           int64
ultimo_dia_do_mes             int64
primeiro_dia_do_trimestre     int64
ultimo_dia_do_trimestre       int64
primeiro_dia_do_ano           int64
ultimo_dia_do_ano             int64
dtype: object

##### Quantidade de tuplas:

In [19]:
len(completo)

7237112

##### Verificando se existe algum valor nulo nos dados

In [20]:
completo.isnull().values.any()

False

##### Salvando os dados

In [21]:
completo.to_csv('../dados/dados_tratados.csv', index=False)

***
### Filtro: Manter os dados referentes apenas das ações que estão no mercado atualmente

Ações que já encerraram sua participação no mercado de ações não nós interessa.

##### Verificando qual último dia presente nos dados

In [22]:
ultimo_dia = completo.loc[completo['DATA'].astype(str).str[:4] == '2018', 'DATA'].unique()
ultimo_dia = ultimo_dia[-1:]
ultimo_dia

array([20181024])

##### Verificando quais ações operaram no último dia

In [23]:
acoes_no_ultimo_dia = completo.loc[completo['DATA'] == int(ultimo_dia), 'CODNEG'].unique()
acoes_no_ultimo_dia

array(['AALR3', 'AALR3F', 'AAPL34', ..., 'XPLG11', 'XPML11', 'XTED11'], dtype=object)

##### Quantidade de ações no último dia

In [24]:
len(acoes_no_ultimo_dia)

2265

##### Selecionando os dados apenas das ações atuais

In [25]:
dados_atuais = completo.loc[completo['CODNEG'].isin(acoes_no_ultimo_dia)]
dados_atuais.head()

,DATA,CODNEG,STATUS_POSITIVO,ano,mes,dia_do_ano,dia_do_mes,dia_da_semana,semana_do_ano,trimestre,...,semana_do_mes,dia_do_trimestre,primeiro_dia_da_semana,ultimo_dia_da_semana,primeiro_dia_do_mes,ultimo_dia_do_mes,primeiro_dia_do_trimestre,ultimo_dia_do_trimestre,primeiro_dia_do_ano,ultimo_dia_do_ano
167674,20080102,ABCB4,0,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167675,20080102,ABCB4F,1,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167701,20080102,AGRO3,1,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167714,20080102,ALPA4,0,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167715,20080102,ALPA4F,1,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231

#### Removendo ações que existe somente 1 valor para o atributo classe ou que tenham menos de 30 tuplas

- Remover ações que o atributo 'STATUS_POSITIVO' só tem 1 valor, somente positivo (1), ou somente negativo (0)

- Remover ações que tenham menos do que 30 tuplas de dados

In [26]:
# Coletando as ações
acoes = dados_atuais.CODNEG.unique()

##### Função para verificar se a ação será removida ou não, com base no que foi definido acima

In [27]:
def verificarAcao(acao):
    classes = dados_atuais.loc[dados_atuais['CODNEG'] == acao, 'STATUS_POSITIVO'].unique()
    tuplas = dados_atuais.loc[dados_atuais['CODNEG'] == acao]
    if (len(classes) == 1) or (len(tuplas) < 30): # Se a ação atender a algum desses critérios ela será removida
        print(acao)
        return acao

##### Realizar a verificação de cada ação, de forma paralela, executando em todos os núcleos do processador

In [28]:
remover_acoes = Parallel(n_jobs=multiprocessing.cpu_count())(delayed(verificarAcao)(acao) for acao in acoes)

MTSA4T
ELETS25
ELETG25
ITSAX10
PETRW29
CSNAK2
VALEM55
VALEW22
AZEV3F
IBOVB90
ITSAX2
PETRM53
LRENM35
AZEV4T
BBASK83
BBDCX83
BOVAL87
LRENA38
BBDCM332
LRENN35
VALEL506
BBASL402
IBOVW79
BBDCL394
PETRX172
BBDCX351
PETRM170
BRMLM41
CEED4F
BBDCX366
ITUBB515
VALEL518
LRENN32
PETRL215
ITUBL531
BBDCX361
BBASL417
VALEL543
BBDCX334
BBDCX339
PETRX182
BBASX304
BBDCX341
BBDCX376
ITUBN456
BBDCA425
BBASX394
BBDCX411
BBASL469
IBOVX79
BBASX387
BBASL459
BBDCL471
CYREW14
PETRA275
BBASK419
BBDCX379
GGBRK159
VALEL548
NPAR11
PETRW177
IBOVL102
PETRW197
BBASX347
BBASL439
BBASL407
PETRL205
PETRL350
BRMLK72
IBOVX85
LRENW342
VALEX395
NATUX33
PETRP220
GOAUK830
VALEL462
BBASX374
BBDCD167
BBDCD201
ABEVE227
BBASX376
ABEVQ195
ITUBK244
ITUBK234
BRAPL34
BBASL399
BBASL489
ITUBK574
BRFSW21
VALEL549
BBDCK369
PETRL265
BBASW364
BBASW324
VALEL522
BBASK422
ITSAK145
ITUBW462
ITSAK135
PETRM210
ITUBW504
BBASL374
BBASL424
RAILX14
PETRM232
BBASK427
BBASW367
BBASK377
BBASL44
BBASX371
BRMLK62
BRMLW11
ABEVK43
BRMLL12
PETRK257
ITUBL490
BBASW362
BOVAX80
USIML127
ITUBW472
ITUBK529
PETRL282
PETRL312
PETRX245
BBASL406
BBASK407
ITUBK524
PETRL290
VALEL587
PETRW257
VALEL395
BBASL401
GOAUW730
PETRL295
BRFSX210
ITSAW43
ITSAK130
GGBRX5
VALEK593
PETRX265
PETRW272
VALEW505
PETRD330
VALEW557
BBASK379
PETRW27
VALEW490
PETRG262
VALEK608
PETRK297
PETRW252
ITUBK494
ITUBK497
ITUBW407
BBDCK39
IBOVL96
VALEW513
BBDCK346
BBDCW44
PETRK252
ITSAL109
PETRK277
PETRW237
PETRK287
PETRW242
PETRW222
VALEW463
VALEW518
IBOVW76
IBOVK90
ITUBK499
VALEX479
ABEVW87
VALEX529
PETRL242
ABEVX160
ELETK88
PETRL212
VALEL574
VALEX506
PETRK197
WEGEX181
VALEW468
BBDCK395
GGBRL181
GGBRX138
VALEL607
CCROL11
VALEX554
GGBRX147
GGBRL171
BBASK304
ITUBX465
VALEL529
VALEL139
BBASL449
ITSAK43
VALEK520
VALEW478
VALEX549
VALEL519
VALEK518
VALEL554
VALEL602
IBOVW7
VALES550
PETRW132
BRFSK20
BRFSK21
BBDCL361
UGPAW39
BRFSK24
VVAR4T
BBASK442
VALEK548
BBASL425
BRFSK275
BRFSX18
BRFSW18
BRFSW190
VALEL569
GGBRL154
BBSEW235
VALEL534
EMBRL269
EMBRX189
IBOVW71
BOVAL78
EMBRX217
BBASW347
GGBRW161
LRENW319
LRENW349
ITSAW12
VALEW508
VALEW568
ITUBL488
USIMW95
BBASW349
VALEW623
BRFSW207
PETRW157
VOTS11
BOVAL88
MULTX56
VALEK563
ITSAX103
GGBRK171
ITUBK492
ITUBK504
PETRK217
ITUBW464
VALEK500
GGBRK173
VALEX499
GGBRK183
VALEW469
BOVAW76
PETRL274
VALEK598
B3SAK56
LRENX262
B3SAW210
PETRL252
VALEL568
BBASL386
BOVAW77
B3SAK58
B3SAW221
B3SAW240
IBOVK88
ITUBK510
ITUBX441
ITSAK121
PETRX187
PETRL262
PETRX212
VALEW475
VALEX481
VALEX534
VALEX543
BBASK397
BBASW342
IBOVB91
PETRK247
PETRW212
RENTK269
BBASK372
EQTLW60
BBASW337
ITSAW123
PETRK242
PETRW187
BBASK382
BBASK384
BBASW97
VALEW527
KROTX110
BRFSL242
BBASK364
BRMLL125
ITUBW419
GOAUK796
BRFSL210
B3SAK260
BBDCW259
BBDCK332
GGBRK166
BOVAX74
GOAUK786
PETRK226
GGBRK176
VALEK475
BBASW380
GGBRW136
GGBRK161
IBOVB95
VALEK568
ITUBL485
CCROW11
CIELX134
VALEK160
B3SAK240
GOAUL814
BBSEK55
VALEX522
PETRX232
ITSAK105
PETRK272
PETRW217
VALEW470
VALEW608
VALEX519
BBSEK26
B3SAK250
BBASA398
B3SAW245
BOVAL81
KROTW40
VALEL624
VALEK743
VALEL612
BBASK327
BBASW189
CCROW10
BBDCL396
ECORK82
CIELW13
PETRW93
VALEW563
VALEW587
BBDCK327
BBASW274
BBDCL341
BBASW304
PETRW214
PETRW244
CCROK40
BBASW75
VVARK165
BBASW382
VVARK20
GOAUK76
GOAUK82
ITSAK12
BBDCL344
BBSEK56
PETRL304
PETRK316
SAIC11B
USIML100
CIELK15
BBASK399
VALEK588
VALEW500
VALEW588
CIELK14
BOVAK81
VALEL664
VALEX548
VALEL622
WEGEK19
ELETK16
ITUBK537
ECORK86
PETRB152
ELETW15
WEGEK209
WEGEL25
VALEK538
VALEK79
NATUK31
BOVAK895
BBDCL374
EMBRK20
ENBRK14
BOVAK89
ESTCK23
ESTCK22
ESTCW21
QUALW16
QUALW45
QUALW15
VALEX451
RAILK15
WEGEK25
ABEVK195
WEGEK18
BBSEW54
CSANW35
ENBRK43
BBASW357
ITUBK14
ITSAK114
MRVEW42
PETRV247
PETRL310
BBASX459
UGPAK389
PETRW280
BBDCL351
BOVAK80
BOVAW69
GOAUW76
MRVEK13
QUALK15
VALEW79
QUALK16
WEGEW47
BRFSM185
BRAPX59
CPLEK24
EMBRK21
GGBRW140
CCROK10
GOAUK74
GOAUK8
ITSAK996
ITUBK477
RAILK45
KROTW11
RAILW15
RAILW43
RAILX142
UGPAK410
RAILW44
VALEW590
ABEVK180
VALEW575
BBASK392
BBASK429
BBASK75
BBDCK316
BBASW407
BBDCK325
BBASW354
BBDCK41
FIBRK75
CSANW32
PETRK244
JBSSK40
PETRW226
KROTW10
BOVAK82
BBASB336
VALEW598
BRFSM22
CIELW42
CIELK44
CMIGW7
CSANW33
GGBRL185
CSANW34
ITUBK472
RAILK16
USIMW92
VALEL639
VALEW628
VALEK605
BBASW302
B3SAL55
VALEX587
BOVAK78
BRAPK368
BOVAL83
CIELW12
CSANK37
EQTLW57
JBSSK96
RAILK46
MRVEK43
ITSAW100
RENTK55
VALEL649
VALEW605
VALEW647
BRFSK222
BBDCK338
BOVAX76
ITUBK479
PETRK254
JBSSK98
VALEL654
WEGEL211
VALEW593
WEGEX25
BBDCW298
BOVAK83
CIELK13
CIELK43
MALL12
VALEK490
VALEW617
MRVEK12
VALEW625
CSANK36
CIELK12
VALEK640
VALEK625
VALEL679
VALEK680
VALEL659
BOVAK79
BRFSK227
BOVAW78
PETRX290
PETRK274
PCARK80
HYPEK31
UGPAL419
USIMW83
VALEK527
VALEK620
VALEK655
VALEL669
VALEL704
VALEL684
VALEX664
ABEVJ217
B3SAK257
ABEVV170
ABEVV181
BOVAW79
CIELL42
BOVAK840
ITSAW105
PETRK284
VALEK654
VALEK660
PETRK369
VALEK675
VALEL629
VALEK665
VALEX597
CIELL43
ELETK19
GGBRK155
IBOVK89
PCARK90
QUALK145
TGAR11
VALEK635
VALEK685
B3SAK270
BRKMK55
IBOVW80
BRKMK57
ITSAL112
PETRK389
B3SAK275
PETRV223
B3SAW250
BBASW377
BBDCK300
BBASW77
BOVAL89
BBASW39
BRMLK115
CIELL14
BOVAW80
IBOVK86
ITSAW130
FIBRW72
ITUBW481
PETRK294
PETRL360
PETRW247
BBASK449
RENTW53
BBASW73
BBASW372
BOVAW82
BOVAK85
EMBRK23
FIBRK73
GOAUW786
ITSAL103
ITUBW497
PETRK429
PETRK449
PETRL340
PETRK459
PETRS262
SUZBK44
SUZBK45
SUZBW43
VALEW515
BOVAK86
BOVAK87
BOVAW81
BRKMK54
BOVAW840
KLBNK19
PETRK21E
ELETK225
PETRK419
PETRK409
PETRK439
PETRL284
PETRW254
SUZBK43
SUZBK41
VALEW620
VALEX704
BBASK394
VALEA597
BBASK437
BBDCL376
BBASW394
BRMLK13
BBSEK287
CCROK11
CMIGK11
CMIGW98
CMIGK105
CSANK38
ITUBL621
ITUBK512
EMBRL53
MRVEL14
PETRA319
PETRA299
PETRA359
PETRA339
PETRJ322
PETRW265
PETRW294
PETRN239
QUALK14
SUZBK42
VALEK497
VALEK508
VALEK505
BBASW384
BBASW392
BBDCK350
BBDCK360
BBDCW325
BBSEK291
BOVAL85
BBSEW55
CCROK41
CIELX43
CMIGK112
CMIGK102
CMIGK12
CMIGK117
CMIGW105
CSNAK110
CSANK34
CSNAL94
CYREK144
ECORK88
ECORK84
ECORW8
ECORW82
ELETK21
ECORW84
ELETK230
ELETL230
ELETL210
ELETW225
ELETW21
FIBRL755
FIBRX715
GOAUW74
ITSAK126
ITSAL107
ITSAL121
ITUBK506
LAMEK48
ITUBW477
LRENK381
PETRL419
PETRA399
PETRW274
PETRS246
PETRX270
PETRW277
RAILK17
RENTX240
SBSPK29
SUZBL43
USIMW970
SBSPK31
VALEL619
WEGEK20
VALEX612
ABEVW16
B3SAW260
ABEVW45
BBASK434
ABEVW46
BRKMK53
BBASL428
CCROW98
CIELL134
CIELX42
CMIGK14
CMIGK107
CMIGK41
CMIGK13
CMIGW10
CMIGW92
EGIEX5
CMIGL11
ITSAX131
ITUBK526
PETRK281
TAEEW21
PETRN266
USIMK105
VALEL499
VALEM58
VIVTW39
VALEL734
ABEVK170
ABEVL185
BBASW379
B3SAX52
BOVAX78
BRFSK217
BOVAK88
CELP3T
CIELX41
CSNAW110
PETRK306
ITSAP984
PETRW281
PETRW287
PETRW284
SBSPK30
QUALW14
VIVTW45
XPIN11
VALEA612
ABEVL46
BBASW38
ABEVL175
BOVAD98
BOVAD100
BOVAL86
BRFSK50
BRFSL215
BRFSK207
BRKMX531
EQTLX57
FJTA12F
FJTA12
FJTA14
FJTA14F
FJTA16
FJTA18F
FJTA18
FJTA16F
PETRX284
ITUBW75
PETRX267
RADLK70
RADLK71
UGPAK394
SUZBW39
VIVTK39
VIVTX38
B3SAL265
ABEVX46
BBASX406
BBASX353
BRFSX185
BRKMW19
CIELL235
BRKML58
CMIGK132
CSANK4
CSNAW78
GGBRL161
CMIGW102
PCARW77
GGBRL175
PETRL286
PETRL536
SMLSK3
PETRW302
TIMPK12
TCSAL140
TIMPW11
VALEW460
VALEL604
VALEW485
VALEW96
VALEW497
ABEVL89
VALEX622
BBASW76
BBASX401
BBASK404
BBASL436
BOVAK90
BRFSL20
EMBRX47
CMIGK42
MRFGK66
NATUK32
RADLK67
NATUL33
PETRX360
SUZBL13
VALEX569
RAILL46
VALEX602
WEGEX184
ABEVL97
B3SAX54
B3SAA283
BBASW419
BBASX67
BRAPX30
BBASX359
EMBRW47
ITSAX107
MRVEX42
NATUL3
PETRL291
PETRX247
PETRI300
QUALL45
PETRX340
RAILL15
RAILK47
SUZBW38
VALEL634
SUZBL408
VALEK515
CCROL113
CCROL12
VALEM57
VALEM587
CSANK40
CSANK39
ELETX20
EGIEK11
EMBRK48
MRFGK64
PETRM269
NATUK34
USIML109
VALEA617
ABEVK87
VALEW491
CMIGW11
ECORK9
ITSAL126
CSANL36
PETRA286
LRENA8
PETRP330
PETRX295
SBSPL28
SMLSK379
RENTL283
WEGEL199
BBASL426
BBASX439
BRAPX1
BOVAW815
CSANL40
FIBRK34
CCROK12
CCROW40
PETRC359
PETRD369
RADLW64
VALEA577
SMLSW5
VALEK560
VALEM551
VALEL644
VALEW560
VALES517
B3SAM22
B3SAM245
VALEW74
BBASM50
BBSEX55
BBDCM320
BBASL453
BRAPL3
BRAPX3
BPAR3
BRAPX34
BRFSL205
BRFSM21
CMIGB12
CIELX11
CIELX12
CMIGW112
CSANL39
CSANL42
CSANW37
CSANX2
CSMGJ59
CSANX5
CSANX35
CSMGV46
CSNAX96
CSMGV51
CVCBA615
CVCBM475
CVCBM51
EQTLK65
ECORW86
FIBRL74
EGIEX8
IBOVR810
HMOC11
ITUBA19
ITSAX972
ITUBA52
ITUBB531
ITUBA522
ITUBM17
ITUBM454
ITUBX550
ITUBN481
KROTA12
LRENB392
JBSSK11
LRENM32
LIGTX155
NATUL60
NATUX60
NATUL1
NATUX59
PETRA152
PETRA309
PETRA291
PCARK89
PETRB296
PETRD302
PETRA311
PETRD354
PETRK266
PETRK291
PETRM206
PETRK261
PETRN260
PETRW261
PETRM251
RAILL17
RENTM25
SBSPK34
UGPAL399
USIML132
TIMPL11
USIMX117
USIMX3
USIMX86
VALEA562
VALEA602
VALEM522
VALEM422
WEGEL184
WEGEL194
VIVTX14
WEGEX194

##### Removendo valores nulos da lista de ações a serem removidas

In [29]:
remover_acoes = list(filter(None, remover_acoes))

##### Quantidade de ações a serem removidas

In [30]:
len(remover_acoes)

985

##### Removendo ações

In [31]:
dados_atuais = dados_atuais.loc[~dados_atuais['CODNEG'].isin(remover_acoes)]

dados_atuais.head()

,DATA,CODNEG,STATUS_POSITIVO,ano,mes,dia_do_ano,dia_do_mes,dia_da_semana,semana_do_ano,trimestre,...,semana_do_mes,dia_do_trimestre,primeiro_dia_da_semana,ultimo_dia_da_semana,primeiro_dia_do_mes,ultimo_dia_do_mes,primeiro_dia_do_trimestre,ultimo_dia_do_trimestre,primeiro_dia_do_ano,ultimo_dia_do_ano
167674,20080102,ABCB4,0,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167675,20080102,ABCB4F,1,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167701,20080102,AGRO3,1,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167714,20080102,ALPA4,0,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231
167715,20080102,ALPA4F,1,2008,1,2,2,4,1,1,...,1,2,20071231,20080106,20080101,20080131,20080101,20080331,20080101,20081231

##### Total de ações restante no dataset

In [32]:
len(dados_atuais.CODNEG.unique())

1280

In [36]:
pd.DataFrame(dados_atuais.CODNEG.unique(), columns=['CODNEG']).to_csv('../dados/acoes_verificadas.csv', sep=';', index=False)

##### Verificando quantidade de tuplas

In [37]:
len(dados_atuais)

1985466

#### O conjunto de dados diminuiu de **7,2 milhões** de tuplas para **1 milhão e 900 mil** tuplas aproximadamente

***
Salvando os dados tratados

In [38]:
dados_atuais.to_csv('../dados/dados_tratados_acoes_atuais.csv', index=False)